// Typography

$font-family: 'Josefin Sans', sans-serif;
$font-size: 18px;
$font-size--secondary: 14px;

// Dark Theme  Colors

$background-primary-color--dark: #171823;
$background-secondary-color--dark: #25273D;

$primary-color--dark: #C8CBE7;
$secondary-color--dark: #767992;
$secondary-color--inactive--dark: #4D5067;

$navigation-primary-color--dark: #5B5E7E;
$navigation-primary-color--active--dark: #3A7CFD;
$navigation-primary-color--hover--dark: #E3E4F1;

$header-primary-color--dark: #FFFFFF;

$checkbox-primary-color--dark: #979797;
$checkbox-primary-color--active--dark: linear-gradient(#55DDFF, #C058F3);
$checkbox-primary-color--hover--dark: #FFFFFF;
$checkbox-secondary-color--dark: #FFFFFF;

// Light Theme Colors

$background-primary-color--light: #FAFAFA;
$background-secondary-color--light: #FFFFFF;

$primary-color--light: #494C6B;
$secondary-color--light: #393A4B;
$secondary-color--inactive--light: #D1D2DA;

$navigation-primary-color--light: #9495A5;
$navigation-primary-color--active--light: #3A7CFD;
$navigation-primary-color--hover--light: #494C6B;

$header-primary-color--light: #FFFFFF;

$checkbox-primary-color--light: #E3E4F1;
$checkbox-primary-color--active--light: linear-gradient(#55DDFF, #C058F3);
$checkbox-primary-color--hover--light: #494C6B;
$checkbox-secondary-color--light: #FFFFFF;




