@import '../../../../constants/variables.scss';

ul {
    list-style-type: none;
    padding: 0;
    margin: 25px 0 0 0;
}

.todo-list {

    border-radius: 5px;

    &--dark {
        background-color: $background-secondary-color--dark;
    }
    &--light {
        background-color: $background-secondary-color--light;
    }
}